<!DOCTYPE html>
<html>
    <head>

    </head>
<body>
    <h1>Formulaire de contact</h1>
    <h2>Demande reçue de : </h2>
<p>Mail : {{ data.email }}</p>
<p>Prenom : {{ data.firstname }}</p>
<p>Message : {{ data.content }}</p>
</body>
</html>