{% extends 'bloc-mere.html.twig' %}

{% block meta %}
    <meta name="description" content="bloc frere" />
{%  endblock %}

{% block title %}bloc Frere{%  endblock %}


{% block titre %}

    <h2>bloc frere</h2>
{% endblock %}

{% block nav %}{% endblock %}
