{% extends 'bloc-mere.html.twig' %}

{% block meta %}
    <meta name="description" content="bloc fille" />
{%  endblock %}

{% block title %}bloc Fille{%  endblock %}


{% block titre %}

    <h2>Un super titre</h2>
{% endblock %}





